################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project32_VS2022/.vs/Project/FileContentIndex
/Project32_VS2022/.vs/Project/v17
