################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/beginning/.vs/beginning/FileContentIndex/6bf171a3-937a-473c-9a5e-be69a3312ba3.vsidx
/beginning/.vs/beginning/FileContentIndex/9f12e93f-b212-4959-930c-de007c4c20ae.vsidx
/beginning/.vs/beginning/FileContentIndex/e023436b-618d-4253-bcf5-670fac6ed7c6.vsidx
