################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project32_VS2022/.vs/Project/FileContentIndex
/Project32_VS2022/.vs/Project/v17
/beginning/.vs/beginning/FileContentIndex
/beginning/.vs/beginning/v17
/data_transfer/.vs/data_transfer
